{% import "social-icons.html" as socialIcons %}

<footer class="container">
  {% if page.fileSlug !== "404" -%}
    <ul
      class="my-12 flex flex-col items-center md:my-8"
      role="menu"
      aria-label="{{- t.footer.languageMenuLabel -}}"
    >
      {% for link in page.url | locale_links %}
        {% if not site.disabledLocales.includes(locale) -%}
          <li lang="{{- link.lang -}}" role="menuitem">
            <a
              class="text-green-950 underline hover:text-green-700 hover:no-underline focus:text-green-700 focus:no-underline dark:text-green-100 hover:dark:text-green-400 focus:dark:text-green-400"
              href="{{- link.url -}}"
            >
              {{- nav.languages[link.lang] -}}
            </a>
          </li>
        {% endif -%}
      {% endfor -%}
    </ul>
  {% endif -%}
  <div
    class="flex flex-col-reverse items-center justify-between py-10 sm:flex-row"
  >
    <div
      class="my-12 flex flex-col items-center justify-start gap-4 sm:flex-row sm:gap-2 md:my-0"
    >
      <a
        class="text-gray-900 dark:text-gray-100 hover:text-green-700 focus:text-green-700 hover:dark:text-green-400 focus:dark:text-green-400"
        href="{{ '/' | tURL }}"
      >
        <svg class="size-14" viewBox="0 0 1024 1024" role="img">
          <title>{{- t.logoAlt -}}</title>
          <path
            class="fill-none stroke-current stroke-[34px]"
            d="M619.5,52C605.22,68.887 586.337,92.201 565.5,121C545.496,148.647 516.692,188.781 487.5,245C473.184,272.57 454.156,309.63 437.5,362C433.52,374.515 416.581,429.075 408.5,504C406.042,526.788 404.989,546.032 404.5,560L565.526,560C559.611,579.205 553.105,604.256 548.5,634C540.603,685.007 541.935,726.312 543.5,749C546.826,797.203 556.142,832.892 561.5,853C570.918,888.343 581.9,916.309 589.5,934C596.408,950.081 603.063,963.588 608.5,974"
          />
          <path
            class="fill-none stroke-current stroke-[34px] [stroke-linecap:_round]"
            d="M416.542,750.922C427.908,750.895 450.639,750.842 467.642,749.745C485.166,748.614 503.782,746.867 521.686,744.138C540.763,741.231 562.827,737.172 582.099,732.3C600.807,727.57 620.256,721.102 637.314,714.903C653.33,709.083 669.361,702.209 684.449,695.108C699.234,688.149 713.776,680.616 727.84,672.296C742.094,663.862 756.997,654.163 769.974,644.507C782.476,635.205 797.96,621.307 805.702,614.358"
          />
          <g>
            <path
              class="fill-current"
              d="M173.32,428.98L243.52,212.98L288.621,212.98L358.821,428.98L326.32,428.98L261.621,231.88L269.82,231.88L205.821,428.98L173.32,428.98ZM209.721,380.28L209.721,350.88L322.521,350.88L322.521,380.28L209.721,380.28Z"
            />
            <path
              class="fill-current"
              d="M594.52,429.28L594.52,213.28L625.922,213.28L625.922,314.08L716.32,213.28L755.32,213.28L659.822,318.681L762.321,429.28L722.121,429.28L625.922,326.08L625.922,429.28L594.52,429.28Z"
            />
          </g>
        </svg>
      </a>
      <span>© 2024 Antti Kivi</span>
    </div>
    <div class="md:mr-2">
      <div class="flex flex-row justify-center gap-6 sm:justify-end">
        <a
          class="hover:text-green-700 focus:text-green-700 hover:dark:text-green-400 focus:dark:text-green-400"
          href="{{- contact.socialMedia.threadsURL -}}"
          rel="nofollow"
        >
          <span class="sr-only">{{- t.socialMedia.threadsLogoAlt -}}</span>
          {{- socialIcons.threads() -}}
        </a>
        <a
          class="hover:text-green-700 focus:text-green-700 hover:dark:text-green-400 focus:dark:text-green-400"
          href="{{- contact.socialMedia.instagramURL -}}"
          rel="nofollow"
        >
          <span class="sr-only">{{- t.socialMedia.instagramLogoAlt -}}</span>
          {{- socialIcons.instagram() -}}
        </a>
        <a
          class="hover:text-green-700 focus:text-green-700 hover:dark:text-green-400 focus:dark:text-green-400"
          href="{{- contact.socialMedia.githubURL -}}"
          rel="nofollow"
        >
          <span class="sr-only">{{- t.socialMedia.githubLogoAlt -}}</span>
          {{- socialIcons.github() -}}
        </a>
      </div>
      <nav
        class="my-6 flex flex-col justify-center text-center sm:mb-0 sm:text-right"
      >
        {% for link in nav.terms -%}
          <div class="my-2 sm:my-0">
            <a
              class="text-green-950 hover:underline focus:underline dark:text-green-100"
              href="{{ link.link | tURL }}"
            >
              {{- link.label[lang] -}}
            </a>
          </div>
        {% endfor -%}
      </nav>
    </div>
  </div>
</footer>
