<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% if isHome -%}
    <title>{{ site.title }} - {{ site.subtitle }}</title>
  {%- else -%}
    <title>{{ title }} - {{ site.title }}</title>
  {%- endif -%}
  {% if description %}
    <meta name="description" content="{{ description }}" />
  {% else %}
    <meta name="description" content="{{ site.description }}" />
  {% endif %}
  {% favicons %}

  <link href="{{ site.url }}{{ page.url }}" rel="canonical" />

  <link
    rel="alternate"
    hreflang="{{ lang }}"
    href="{{ site.url }}{{ page.url }}"
  />
  {% for link in page.url | locale_links %}
    <link
      rel="alternate"
      hreflang="{{ link.lang }}"
      href="{{ site.url }}{{ link.url }}"
    />
  {% endfor %}
  {% if lang === "fi" %}
    <link
      rel="alternate"
      hreflang="x-default"
      href="{{ site.url }}{{ page.url }}"
    />
  {% else %}
    {% for link in page.url | locale_links %}
      {% if link.lang === "fi" %}
        <link
          rel="alternate"
          hreflang="x-default"
          href="{{ site.url }}{{ link.url }}"
        />
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if isHome -%}
    <meta
      property="og:title"
      content="{{ site.title }} - {{ site.subtitle }}"
    />
  {%- else -%}
    <meta property="og:title" content="{{ title }} - {{ site.title }}" />
  {%- endif -%}

  <meta property="og:type" content="website" />

  {# TODO: Allow adding custom OG images. #}
  {% openGraphImage "opengraph.png", lang %}

  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />

  {% if description %}
    <meta property="og:description" content="{{ description }}" />
  {% else %}
    <meta property="og:description" content="{{ site.description }}" />
  {% endif %}

  {# TODO: Add og:locale #}
  <meta property="og:site_name" content="{{ site.title }}" />

  <link href="{{ '/main.css' | hash }}" rel="stylesheet" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Manrope:wght@200..800&display=swap"
    rel="stylesheet"
  />
</head>
