<!doctype html>
<html class="scheme-light dark:scheme-dark" lang="{{ lang }}">
  {% include "head.njk" %}
  <body
    class="bg-stone-100 font-sans text-stone-900 dark:bg-stone-900 dark:text-stone-100"
  >
    <a class="sr-only focus:not-sr-only" href="#{{ t.mainID }}">
      {{- t.skipToContent -}}
    </a>
    {% include "header.njk" %}
    <main id="{{ t.mainID }}">{{ content | safe }}</main>
    {% include "footer.njk" %}
  </body>
</html>
