---
import Layout from "@/layouts/Layout.astro";
import locales, { defaultLocale, type Locale } from "@/locales";
import type { GetStaticPathsResult } from "astro";

export function getStaticPaths(): GetStaticPathsResult {
  let paths = [];

  for (const locale of locales) {
    if (locale === defaultLocale) {
      paths.push({
        params: { locale: undefined },
      });
    } else {
      paths.push({
        params: { locale },
      });
    }
  }

  return paths;
}
---

<Layout locale={Astro.currentLocale as Locale}>
  <p>Hello, world!</p>
</Layout>
