---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  class:list={[
    "[&_a]:underline [&_a]:hover:text-peach-700 [&_a]:hover:no-underline [&_a]:focus:text-peach-700 [&_a]:focus:no-underline dark:[&_a]:hover:text-peach-400 dark:[&_a]:focus:text-peach-400 [&_em]:ml-[0.18rem] [&_em]:font-serif [&_em]:italic [&_p]:my-4",
    className,
  ]}
>
  <slot />
</div>
