---
excludeFromSitemap: true
layout: layout.njk
permalink: /404.html
title: 404 Not Found
---

<section
  class="container text-lg *:my-6 anchors:underline anchors:hover:text-green-700 anchors:hover:no-underline anchors:focus:text-green-700 anchors:focus:no-underline dark:anchors:hover:text-green-400 dark:anchors:focus:text-green-400 [&_em]:ml-[0.18rem] [&_em]:font-serif [&_em]:italic"
>
  <h1 class="text-center font-mono text-6xl font-bold">404</h1>
  {% for locale in site.locales -%}
    {% if not site.disabledLocales.includes(locale) -%}
      <div lang="{{ locale }}">
        <h2 class="my-10 text-center font-mono text-3xl font-bold">
          {%- if locale === "fi" -%}
            Ei löydy
          {%- elif locale === "en" -%}
            Not Found
          {%- endif -%}
        </h2>
        {% if locale === "fi" -%}
          <p>
            Etsimääsi sivua ei löytynyt. Tämä voi johtua siitä, että sivu on
            poistettu tai sen osoite on muuttunut. Voit palata
            <a href="/">etusivulle</a>.
          </p>
        {% elif locale === "en" -%}
          <p>
            The page you are looking for could not be found. This could be
            because the page has been removed or the address has changed. You
            can return to the <a href="/en/">home page</a>.
          </p>
        {% endif -%}
      </div>
    {% endif -%}
  {% endfor -%}
</section>
