---
date: git Last Modified
layout: layouts/cv.njk
permalink: "{{ \"cv\" | makePath(\"fi\") }}"
title: Ansioluettelo
---

Moi, tähän tulee ansioluetteloni. Tällä hetkellä opiskelen ja työskentelen
viestintäasiantuntijana. Tämän sivun luomista kiirehdin, koska se tuli luoda
tietojenkäsittelytieteen kandiohjelman pakollisella
<a href="https://courses.mooc.fi/org/uh-cs/courses/tietokone-tyovalineena"
  >Tietokone työvälineenä</a
>&nbsp;-kurssilla.
