---
date: git Last Modified
layout: layouts/cv.njk
permalink: "{{ \"cv\" | makePath(\"en\") }}"
title: CV
---

Hi, this page is going to have my CV. At the moment I’m a student and work as
communications advisor. I rushed to make this page for the mandatory freshmen
course
<a
  href="https://courses.mooc.fi/org/uh-cs/courses/computing-tools-for-cs-studies"
  >Computing tools for CS studies</a
>.
