@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-stone-100: oklch(0.97 0.001 106.424);
  --color-stone-900: oklch(0.216 0.006 56.043);

  --color-green-100: oklch(0.95 0.052 163.051);
  --color-green-400: oklch(0.765 0.177 163.223);
  --color-green-700: oklch(0.508 0.118 165.612);
  --color-green-950: oklch(0.262 0.051 172.552);

  --font-*: initial;
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Libre Baskerville", ui-serif, Georgia, Cambria,
    "Times New Roman", Times, serif;
  --font-mono: "IBM Plex Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}

@variant anchors (& a);

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  width: 100%;

  @media (width >= 40rem) {
    max-width: var(--container-2xl);
  }

  @media (width >= 48rem) {
    max-width: var(--container-3xl);
  }

  @media (width >= 64rem) {
    max-width: var(--container-4xl);
  }
}
