---
import Head from "@/components/Head.astro";
import "@/styles/global.css";
import "@fontsource-variable/manrope";
import "@fontsource-variable/red-hat-mono";
import "@fontsource/libre-baskerville/400-italic.css";
---

<html
  class="bg-neutral-50 font-sans text-neutral-900 scheme-light dark:bg-neutral-900 dark:text-neutral-50 dark:scheme-dark"
  lang={Astro.currentLocale}
>
  <Head />
  <body><slot /></body>
</html>
